/* Global Styles */

html {
    font-size: 125%;
    font-family: 'Montserrat', sans-serif;
    color: #2c363f;
}

body {
    background: #f7f0f0;
}

.wrapper {
    width: 85%;
    margin: 0 auto;
}

a:link,
a:visited {
    text-decoration: none;
    color: black;
}

img {
    width: 100%;
    display: block;
}


/* Global Font Styles */


h1 {
    font-size: 6rem;
    width: 100%;
    text-align: center;
    position: absolute;
    color: #f7f0f0;
    text-transform: uppercase;
    letter-spacing: 5px;
    top: 40%;

    font-family: 'Bungee', cursive;

}

p {
    line-height: 1.6;
}